* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: url(/accets/img/img-big.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 400px;
    /* height: 200px; */
    height: 500px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}
.card:hover {
    height: 500px;
    transition: 0.2s linear;
}
.card-header {
    background-color: #2c3a47;
    padding: 60px 40px;
}

.img-me {
    width: 100%;
}