* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    /* background: url(/accets/img/img-big.jpg) no-repeat center; */
    background: linear-gradient(45deg, #fbda61, #ff5acd);
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 350px;
    height: 190px;
    /* height: 500px; */
    border-radius: 10px;
    background: #fff;
    transition: 0.2s linear;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
}
.card:hover {
    height: 500px;
}
.card-header {
    position: absolute;
    background: #fff;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.35);

}

.img-me {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}